.text-center {
    text-align: center;
}

.welcome {
    width: 100%;
    height: 100%;
    padding: 100px;
    color: white;
    text-align: center;
}

.banner-section-wrap {
    min-height: 300px;
}

.f-30 {
    font-size: 30px !important;
}

.f-20 {
    font-size: 20px !important;
}

.member-row {
    display: flex;
    flex-wrap: wrap;
}

.col {
    width: 10%;
}

.our-team-wrap {
    position: relative;
    min-height: 600px;
    background: #000 url(../img/6.png);
    display: block;
    background-position: center;
    background-size: cover;
    padding: 80px 0;
}


.our-team-wrap .hc-overlay {
    background: rgba(0, 108, 217, 0.2);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover;
    text-indent: -9999px;
}

.our-team-wrap img {
    padding: 20px;
}

.our-team-wrap {
    text-align: center;
    min-height: 500px;

}

.team {
    margin-bottom: 20px;
}


.officers {
    font-size: 50px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding-bottom: 10px;
}