/* -----------------------
--------------------------
[master  Stylesheet ]

*Author: Supazthemes 

* VERSION: 1.0

*Primary use:   Multipurpose Medical Template

-------------------------------------
 
 css table of content
 -------------------

 1. Reset
 2. Button
 3. Header ( all header)
 4. Default home page
 5. About page
 6. Service
 7. Contact
 8. Home ent
 9. Home eye
 10. Home skin
 11. Hospital app landing
 12. Blog
 13. Search resault
 14. Other sm-pages css 
	    -single post 
	    -coming soon
	    -video banner
	    -department 
	    -appointment
 15. Footer and all footer widget style

-------------------------
----------------------- */
.supa-column-1 {
  width: 100%;
}

.supa-column-2 {
  width: 50%;
}

.supa-column-3 {
  width: 33.33333%;
}

.supa-column-4 {
  width: 25%;
}

.supa-column-5 {
  width: 20%;
}

.supa-column-6 {
  width: 16.66667%;
}

.supa-column-7 {
  width: 14.28571%;
}

.supa-column-8 {
  width: 12.5%;
}

.supa-column-9 {
  width: 11.11111%;
}

.supa-column-10 {
  width: 10%;
}

.supa-column-11 {
  width: 9.09091%;
}

.supa-column-12 {
  width: 8.33333%;
}

/* 1. Reset scss/css style here
--------------------------- */
body {
  font-family: 'Open Sans', sans-serif;
}

* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

[class*='supa-column-'] {
  padding-right: 15px;
  padding-left: 15px;
  position: relative;
  min-height: 1px;
  float: left;
}

.supa-row:before,
.supa-row:after {
  content: "";
  display: table;
}

.supa-row:after {
  clear: both;
}

a:hover {
  text-decoration: none;
}

p {
  line-height: 25px;
}

figure {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', sans-serif;
}

p {
  font-size: 15px;
  line-height: 28px;
  font-weight: normal;
}

a:focus,
a:hover {
  outline: none;
}

/*margin reset*/
.margin-top-sm {
  margin-top: 8px;
}

.margin-top-md {
  margin-top: 15px;
}

.margin-top-lg {
  margin-top: 25px;
}

.margin-top-xl {
  margin-top: 45px;
}

.padding-vr-xl {
  padding: 50px 0 50px 0;
}

.padding-top-xl {
  padding-top: 50px;
}

.padding-top-lg {
  padding-top: 25px;
}

.padding-bottom-lg {
  padding-bottom: 25px;
}

.green {
  color: green;
}

.red {
  color: #ff0000;
}

/*
 2. Button  css  style here
 ------------------------- */
.btn-outline {
  border: 2px solid #006cd9;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  letter-spacing: 1.5px;
  background: transparent;
  transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
}

.btn-outline:hover {
  background: #006cd9;
  color: #fff;
}

.btn-outline-white {
  border: 2px solid #fff;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  letter-spacing: 1.5px;
  background: transparent;
  transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  color: #fff;
}

.btn-outline-white:hover {
  background: #fff;
  color: #000;
}

.btn-outline-white-round {
  border: 2px solid #fff;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 35px;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  -ms-border-radius: 35px;
  letter-spacing: 1.5px;
  background: transparent;
  transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  color: #fff;
}

.btn-outline-white-round:hover {
  background: #fff;
  color: #000;
}

.btn-theme {
  background: #006cd9;
  color: #fff;
  position: relative;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
}

.btn-theme:focus {
  color: #fff;
  outline: none;
}

.btn-theme:hover {
  color: #fff;
  background-color: #0053a6;
}

.btn-theme:hover:before {
  width: 100%;
  height: 100%;
}

.btn-theme:hover:after {
  width: 100%;
  height: 100%;
}

.btn-theme:before {
  width: 25px;
  height: 25px;
  border-top: 1px solid #006cd9;
  border-left: 1px solid #006cd9;
  position: absolute;
  top: -4px;
  left: -4px;
  z-index: 99;
  content: "";
  transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
}

.btn-theme:after {
  width: 25px;
  height: 25px;
  border-right: 1px solid #006cd9;
  border-bottom: 1px solid #006cd9;
  position: absolute;
  right: -4px;
  bottom: -4px;
  z-index: 99;
  content: "";
  transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
}

.btn-theme-white {
  background: #fff;
  color: #000;
  position: relative;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
}

.btn-theme-white:focus {
  color: #000;
  outline: none;
}

.btn-theme-white:hover {
  color: #000;
  background: #e6e6e6;
}

.btn-theme-white:hover:before {
  width: 100%;
  height: 100%;
}

.btn-theme-white:hover:after {
  width: 100%;
  height: 100%;
}

.btn-theme-white:before {
  width: 25px;
  height: 25px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  position: absolute;
  top: -4px;
  left: -4px;
  z-index: 99;
  content: "";
  transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
}

.btn-theme-white:after {
  width: 25px;
  height: 25px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: absolute;
  right: -4px;
  bottom: -4px;
  z-index: 99;
  content: "";
  transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
}

.btn-white-normal {
  background: #fff;
  color: #000;
  position: relative;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
}

.btn-white-normal:focus {
  color: #000;
  outline: none;
}

.btn-white-normal:hover {
  color: #000;
  background: #e6e6e6;
}

/* ----------------
   3. Header css here
 -----------------------*/
.header-top {
  position: relative;
  min-height: 34px;
  /*background: lighten($theme-color, 57%);*/
  border-bottom: 1px solid #f1f1f1;
}

.header-top .header-social {
  position: relative;
  margin: 0;
  padding: 0;
}

.header-top .header-social li {
  list-style: none;
  display: inline-block;
  width: 38px;
  text-align: center;
  border-left: 1px solid #f1f1f1;
}

.header-top .header-social li:last-child {
  border-right: 1px solid #f1f1f1;
}

.header-top .header-social li a {
  margin: 0;
  padding: 0;
  line-height: 34px;
  display: block;
  color: #000;
  transition: all 0.6s ease-in-out 0s;
  -webkit-transition: all 0.6s ease-in-out 0s;
  -moz-transition: all 0.6s ease-in-out 0s;
  -ms-transition: all 0.6s ease-in-out 0s;
  -o-transition: all 0.6s ease-in-out 0s;
}

.header-top .header-social li a:hover {
  background: #006cd9;
  color: #fff;
}

.header-top .header-social li a.active {
  background: #006cd9;
  color: #fff;
}

.header-top .header-top-link {
  position: relative;
  margin: 0;
  padding: 0;
  float: right;
  transition: all 0.6s ease-in-out 0s;
  -webkit-transition: all 0.6s ease-in-out 0s;
  -moz-transition: all 0.6s ease-in-out 0s;
  -ms-transition: all 0.6s ease-in-out 0s;
  -o-transition: all 0.6s ease-in-out 0s;
}

.header-top .header-top-link li {
  list-style: none;
  display: inline-block;
  padding: 0px 8px 0px 8px;
  text-align: center;
  border-left: 1px solid #f1f1f1;
  position: relative;
}

.header-top .header-top-link li:first-child {
  border: none;
  padding-right: 0;
}

.header-top .header-top-link li:first-child a.emergency {
  background: #ff0000;
  color: #fff;
  display: block;
  margin-right: -3px;
}

.header-top .header-top-link li a {
  margin: 0;
  padding: 0px 8px 0px 8px;
  line-height: 34px;
  display: block;
  color: #000;
  transition: all 0.6s ease-in-out 0s;
  -webkit-transition: all 0.6s ease-in-out 0s;
  -moz-transition: all 0.6s ease-in-out 0s;
  -ms-transition: all 0.6s ease-in-out 0s;
  -o-transition: all 0.6s ease-in-out 0s;
  font-family: 'Raleway', sans-serif;
}

.header-top .header-top-link li a:hover {
  background: #006cd9;
  color: #fff;
}

.header-top .header-top-link li ul.emr-dropdown {
  display: none;
  margin: 0;
  padding: 5px 10px;
  position: absolute;
  min-width: 270px;
  z-index: 9999;
  left: 8px;
  background: #fff;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  border-top: 2px solid #ff0000;
  border-bottom: 2px solid #ff0000;
}

.header-top .header-top-link li ul.emr-dropdown li {
  text-align: left;
  margin: 0;
  padding: 0;
  display: block;
  line-height: 30px;
  border-bottom: 1px solid #f1f1f1;
  border-left: transparent;
}

.header-top .header-top-link li ul.emr-dropdown li .emr-phone {
  color: #ff0000;
  font-size: 18px;
  font-family: 'open Sans', sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
}

.header-top .header-top-link li ul.emr-dropdown li .emr-department {
  display: inline-block;
}

.header-top .header-top-link li ul.emr-dropdown li .emr-department a {
  border-bottom: 2px solid #006cd9;
  color: #006cd9;
  font-weight: bold;
}

.header-top .header-top-link li ul.emr-dropdown li .emr-department a:hover {
  background: transparent;
}

.header-top .desktop-right {
  float: right;
}

/*Logo and menu wrap*/
.menu-logo-wrap .logo h1 {
  font-weight: 100;
}

.menu-logo-wrap .logo h1 span {
  color: #006cd9;
  font-weight: bold;
}

.menu-logo-wrap .health-main-nav {
  background: transparent;
  border: none;
  position: relative;
  margin-top: 20px;
}

.menu-logo-wrap .health-main-nav .navbar-toggle {
  position: absolute;
  top: -40px;
  right: -10px;
  border: none;
  margin: 0;
}

.menu-logo-wrap .health-main-nav .navbar-toggle:hover {
  background-color: transparent;
}

.menu-logo-wrap .health-main-nav .navbar-toggle:focus {
  background-color: transparent;
}

.menu-logo-wrap .health-main-nav ul#menu .dropdown {
  position: relative;
  /*&:after {
                    content: "";
                    position: absolute;
                    right: 2px;
                    top: 25px;
                    width: 0;
                    height: 0;
                    border-top: 5px solid lighten($theme-color, 10%);
                    border-right: 5px solid transparent;
                    border-bottom: 5px solid transparent;
                    border-left: 5px solid transparent;
                }*/
}

.menu-logo-wrap .health-main-nav ul#menu ul.dropdown-menu {
  border: none;
  box-shadow: none;
  background: #f1f1f1;
}

.menu-logo-wrap .health-main-nav ul#menu ul.dropdown-menu li a {
  transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  border-bottom: 1px solid #fff;
}

.menu-logo-wrap .health-main-nav ul#menu ul.dropdown-menu li a:hover {
  background: #006cd9;
  color: #fff;
}

.menu-logo-wrap .health-main-nav ul#menu ul.dropdown-menu li:last-child a {
  border-bottom: 1px solid transparent;
}

.menu-logo-wrap .health-main-nav ul#menu li a {
  text-transform: initial;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  color: #4d4d4d;
}

.menu-logo-wrap .health-main-nav ul#menu li ul li a {
  text-transform: initial;
  font-weight: 400;
  line-height: 30px;
}

.search-click {
  border: none;
  margin-top: 13px;
}

.search-click:focus {
  outline: none;
}

.search-wrap {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.96);
  z-index: 999999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
  -o-transition: all 0.15s ease;
  -moz-transition: all 0.15s ease;
  -webkit-transition: all 0.15s ease;
}

.search-wrap .search-close {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
}

.search-wrap .search-form {
  width: 100%;
  display: block;
  text-align: center;
}

.search-wrap .search-form .search-lebel-control {
  display: block;
  text-align: center;
  width: 100%;
  color: #b1b1b1;
  line-height: 40px;
  font-size: 16px;
  font-weight: 100;
}

.search-wrap .search-form .search-field {
  display: inline-block;
  width: 95%;
  max-width: 450px;
  padding: 5px 5px;
  border-radius: 2px;
  border: 1px solid #b1b1b1;
  line-height: 34px;
  background: transparent;
  color: #fff;
}

/*App navigation start here */
.menu-app-wrap.fixed-header {
  background: #00060d;
  padding: 9px 0 0px;
}

.menu-app-wrap.fixed-header .logo {
  /*   img {
            -webkit-filter: brightness(100%) invert(0);
            filter: brightness(100%) invert(0);
        }*/
}

.menu-app-wrap.fixed-header .health-app-nav {
  background: transparent;
  border: none;
}

.menu-app-wrap.fixed-header .health-app-nav ul#app-menu li {
  position: relative;
}

.menu-app-wrap.fixed-header .health-app-nav ul#app-menu li a {
  color: #fff;
}

.menu-app-wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
  padding: 25px 0;
  background: transparent;
}

.menu-app-wrap .logo {
  margin-top: 10px;
}

.menu-app-wrap .logo img {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
}

.menu-app-wrap .health-app-nav {
  background: transparent;
  border: none;
}

.menu-app-wrap .health-app-nav ul#app-menu li {
  position: relative;
}

.menu-app-wrap .health-app-nav ul#app-menu li a {
  color: #fff;
  position: relative;
}

.menu-app-wrap .health-app-nav ul#app-menu li a.active:after {
  content: "";
  position: absolute;
  bottom: 2px;
  height: 2px;
  width: 30px;
  left: 15px;
  background: #fff;
}

/*
4. Default home page 
---------------------*/
.banner-section-wrap {
  position: relative;
  min-height: 600px;
  background: #000 url(../img/2.png);
  display: block;
  background-position: center;
  background-size: cover;
  padding: 80px 0;
}

.banner-section-wrap .hc-overlay {
  background: rgba(0, 108, 217, 0.2);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  text-indent: -9999px;
}

.banner-section-wrap .hc-banner {
  position: relative;
  z-index: 999;
}

.banner-section-wrap .hc-banner button {
  text-transform: uppercase;
  font-size: 14px;
}

.banner-section-wrap .hc-banner h2 {
  line-height: 40px;
  font-weight: 900;
}

.banner-section-wrap .hc-banner .owl-nav div {
  background: #fff;
  color: #006cd9;
  transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
}

.banner-section-wrap .hc-banner .owl-nav div i {
  font-size: 20px;
}

.banner-section-wrap .hc-banner .owl-nav.disabled+.owl-dots {
  margin-top: 18px;
}

.banner-section-wrap .hc-banner .owl-dots {
  text-align: left;
  margin-left: 10px;
}

.banner-section-wrap .hc-banner .owl-dots .owl-dot span {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  background: #a5a5a5;
}

.banner-section-wrap .hc-banner .owl-dots .owl-dot.active span {
  background: #002040;
}

.banner-section-wrap .hc-banner .owl-nav {
  text-align: left;
}

.getin-touch {
  position: relative;
  margin: -90px 15px 0 15px;
  background: #006cd9;
  min-height: 200px;
  display: block;
  z-index: 9999;
  padding: 30px 15px;
  overflow: hidden;
}

.getin-touch .contact-us-home {
  color: #fff;
}

.getin-touch .contact-us-home h2 {
  font-weight: bold;
}

.getin-touch .contact-us-home address i {
  margin-right: 10px;
}

.getin-touch .appoitment-wrap li a {
  background: #000;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  box-shadow: none;
  cursor: pointer;
  transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
}

.getin-touch .appoitment-wrap li a:hover {
  background: #fff;
  color: #000;
  border-color: #fff;
}

.getin-touch .appoitment-wrap li.active a {
  background: #fff;
  color: #000;
}

.getin-touch .tab-content-wrap {
  background: #f1f1f1;
  min-height: 100px;
  overflow: hidden;
  color: #000;
  padding: 15px 15px;
}

.getin-touch .tab-content-wrap .form-control {
  border: none;
}

/*About us section start*/
.heading-wrap {
  position: relative;
  width: 100%;
  max-width: 560px;
  display: inline-block;
  margin-bottom: 20px;
}

.heading-wrap h2 {
  font-weight: bold;
  clear: both;
  margin: 8px 0 5px;
}

.heading-wrap h2 span {
  position: relative;
}

.heading-wrap h2 span:after {
  width: 40px;
  height: 1px;
  background: #000;
  bottom: 5px;
  position: absolute;
  content: "";
}

.heading-wrap span.top-tag {
  font-weight: 300;
  display: inline-block;
  width: 100%;
  clear: both;
  font-family: raleway;
  font-size: 20px;
}

.heading-wrap span.bottom-tag {
  font-weight: normal;
  color: #cbcbcb;
  display: inline-block;
  width: 100%;
  clear: both;
}

.about-section-wrap {
  padding: 50px 0 0;
  background: #fafafa;
}

.about-section-wrap .about-description {
  margin: 20px 0;
}

/*Service blok*/
.service-wrap {
  position: relative;
  padding: 50px 0;
}

.service-wrap .service-block h3 {
  position: relative;
  font-weight: 100;
  margin-bottom: 20px;
}

.service-wrap .service-block h3 span {
  position: relative;
}

.service-wrap .service-block h3 span:after {
  width: 40px;
  height: 1px;
  background: #006cd9;
  bottom: -5px;
  position: absolute;
  content: "";
  left: 0;
}

.our-specialities-wrap {
  position: relative;
  min-height: 450px;
  background: #006cd9 url(../images/spacial-bg.jpg);
  display: block;
  background-size: cover;
  padding: 50px 0 300px;
  color: #fff;
  text-align: center;
}

.our-specialities-wrap .hc-overlay {
  background: rgba(0, 108, 217, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*z-index: 1;*/
  background-size: cover;
  text-indent: -9999px;
}

.our-specialities-wrap .specialities-content {
  position: relative;
  z-index: 999;
}

.our-specialities-wrap .specialities-content .heading-wrap h2 span:after {
  background: #fff;
}

.speciality-tab {
  position: relative;
  margin: -250px 15px 0 15px;
  min-height: 400px;
  left: auto;
  right: auto;
  z-index: 999;
}

.speciality-tab .spec-tab-content {
  min-height: 200px;
}

.speciality-tab .spec-tab-content .tab-content {
  background: #fafafa;
  min-height: 200px;
  padding: 30px 15px;
  overflow: hidden;
}

.speciality-tab .spec-tab-content .tab-content h3 {
  font-weight: 100;
}

.speciality-tab .spec-tab-content .spec-tabs {
  border-bottom: transparent;
  margin-bottom: 35px;
  display: inline-block;
}

.speciality-tab .spec-tab-content .spec-tabs li a {
  background: transparent;
  color: #fff;
  font-family: raleway;
  font-weight: 600;
  font-size: 18px;
  letter-spacing: 1.5px;
  border: 1px solid transparent;
  border-radius: 0px;
}

.speciality-tab .spec-tab-content .spec-tabs li a:hover {
  background: transparent;
  border: 1px solid transparent;
}

.speciality-tab .spec-tab-content .spec-tabs li a:focus {
  background: transparent;
}

.speciality-tab .spec-tab-content .spec-tabs li.active a {
  background: #fafafa;
  color: #000;
  position: relative;
  display: block;
  cursor: pointer;
}

.speciality-tab .spec-tab-content .spec-tabs li.active a:before {
  width: 25px;
  height: 25px;
  border-top: 1px solid #fff;
  border-left: 1px solid #fff;
  position: absolute;
  top: -4px;
  left: -4px;
  z-index: 99;
  content: "";
  transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
}

.speciality-tab .spec-tab-content .spec-tabs li.active a:after {
  width: 25px;
  height: 25px;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  position: absolute;
  right: -4px;
  bottom: -4px;
  z-index: 99;
  content: "";
  transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
}

.speciality-tab .spec-tab-content .spec-tabs li.active a:hover {
  background: #fff;
}

.speciality-tab .spec-tab-content .spec-tabs li.active a:hover:before {
  width: 100%;
  height: 100%;
}

.speciality-tab .spec-tab-content .spec-tabs li.active a:hover:after {
  width: 100%;
  height: 100%;
}

.speciality-tab .spec-tab-content .spec-tabs li.active a:focus {
  background: #fff;
}

/*Team member*/
.team-section-wrap {
  position: relative;
  padding: 50px 0;
}

.team-section-wrap .team-member-block {
  position: relative;
  color: #fff;
}

.team-section-wrap .team-member-block .team-caption {
  position: relative;
  overflow: hidden;
}

.team-section-wrap .team-member-block .team-caption .name-n-desigation {
  display: block;
  position: relative;
  background: #0d85ff;
  padding: 8px 15px;
}

.team-section-wrap .team-member-block .team-caption .name-n-desigation .designation {
  margin-top: 5px;
  display: inline-block;
  clear: both;
}

.team-section-wrap .team-member-block .team-caption .name-n-desigation h4 {
  margin: 15px 0 8px;
}

.team-section-wrap .team-member-block .team-caption .name-n-desigation:after {
  position: absolute;
  content: "";
  height: 35px;
  width: 100%;
  background: #0d85ff;
  -webkit-transform: rotate(-5deg);
  transform: rotate(-5deg);
  z-index: 999;
  bottom: -18px;
  left: -8px;
  right: -8px;
  width: 105%;
}

.team-section-wrap .team-member-block .team-caption .social-connect {
  display: block;
  position: relative;
  background: #006cd9;
  padding: 25px 15px 15px;
  overflow: hidden;
}

.team-section-wrap .team-member-block .team-caption .social-connect .team-social {
  margin: 0;
  padding: 0;
  display: inline-block;
  float: right;
}

.team-section-wrap .team-member-block .team-caption .social-connect .team-social li {
  display: inline-block;
  margin-right: 5px;
  list-style: none;
}

.team-section-wrap .team-member-block .team-caption .social-connect .team-social li a {
  color: #fff;
  text-decoration: none;
}

.team-section-wrap .owl-nav.disabled+.owl-dots {
  margin-top: 18px;
}

.team-section-wrap .owl-dots .owl-dot span {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  background: #a5a5a5;
}

.team-section-wrap .owl-dots .owl-dot.active span {
  background: #002040;
}

.newsevent-wrap {
  position: relative;
  min-height: 450px;
  background: #006cd9 url(../img/5.png);
  display: block;
  background-size: cover;
  background-position: center;
  padding: 50px 0 50px;
}

.newsevent-wrap .heading-wrap {
  color: #fff;
}

.newsevent-wrap .heading-wrap h2 span:after {
  background: #fff;
}

.newsevent-wrap .hc-overlay {
  background: rgba(0, 108, 217, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*z-index: 1;*/
  background-size: cover;
  text-indent: -9999px;
}

.newsevent-wrap .news-event-block {
  display: block;
  position: relative;
  margin-top: 20px;
}

.newsevent-wrap .news-event-block .left-date {
  position: relative;
  min-height: 30px;
  font-size: 14px;
  display: block;
  vertical-align: middle;
  background: #f1f1f1;
}

.newsevent-wrap .news-event-block .left-date .date {
  position: relative;
  overflow: hidden;
  /*background: lighten($theme-color, 55%);*/
  border-bottom: 1px solid #ededed;
  font-size: 12px;
  color: #000;
}

.newsevent-wrap .news-event-block .left-date .date i {
  margin-right: 5px;
}

.newsevent-wrap .news-event-block .left-date span {
  vertical-align: middle;
  padding: 15px;
}

.newsevent-wrap .news-event-block .right-description {
  position: relative;
  display: block;
  background: #fff;
  min-height: 200px;
  padding: 15px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  width: calc(100% - 0);
  text-align: left;
}

.newsevent-wrap .news-event-block .right-description h3 {
  font-weight: 100;
}

/* Testimonial wrap */
.testimonial-wrap {
  min-height: 400px;
  display: block;
  padding: 50px 0;
}

.testimonial-wrap .testimoni-slide {
  position: relative;
  margin-top: 34px;
}

.testimonial-wrap .testimoni-slide .owl-item {
  opacity: 0.2;
}

.testimonial-wrap .testimoni-slide .owl-item .left-avatar {
  padding: 20px;
}

.testimonial-wrap .testimoni-slide .owl-item .left-avatar img {
  max-width: 100%;
  -webkit-transition: all 0.8 ease-in-out 0s;
  transition: all 0.8 ease-in-out 0s;
}

.testimonial-wrap .testimoni-slide .owl-item.active.center {
  opacity: 1;
}

.testimonial-wrap .testimoni-slide .owl-item.active.center .left-avatar {
  padding: 0;
}

.testimonial-wrap .testimoni-slide .owl-dots .owl-dot span {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  background: #a5a5a5;
}

.testimonial-wrap .testimoni-slide .owl-dots .owl-dot.active span {
  background: #002040;
}

.testimonial-wrap .testimoni-slide .testi-individual {
  position: relative;
}

.testimonial-wrap .testimoni-slide .testi-individual .left-avatar {
  width: 160px;
  height: 160px;
  float: left;
}

.testimonial-wrap .testimoni-slide .testi-individual .prsns-description {
  width: calc(100% - 160px);
  float: left;
  min-height: 80px;
  padding-left: 30px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

/*
5. About page css start here
----------------------- */
.inner-banner-wrap {
  position: relative;
  min-height: 350px;
  background: #006cd9 url(../images/spacial-bg.jpg);
  display: block;
  background-size: cover;
  padding: 10px 0;
  text-align: center;
}

.inner-banner-wrap .hc-inner-overlay {
  background: rgba(0, 108, 217, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  text-indent: -9999px;
}

.inner-heading-wrap {
  position: relative;
  width: 100%;
  max-width: 560px;
  display: inline-block;
  color: #fff;
  margin-top: 100px;
}

.inner-heading-wrap p {
  font-size: 17px;
}

.inner-heading-wrap h2 {
  font-weight: 600;
  clear: both;
  margin: 8px 0 15px;
}

.inner-heading-wrap h2 span {
  position: relative;
  /*&:after {
                width: 40px;
                height: 2px;
                background: $white-color;
                bottom: 5px;
                position: absolute;
                content: "";
                left: 0;
                right: 0;
                bottom: -2px;
                margin: auto;
            }*/
}

.individual-thought {
  position: relative;
  min-height: 200px;
  padding: 80px 0;
  display: block;
  clear: both;
  background: #f4f4f4 url(../images/thought-bg.png) 0 15px;
  background-size: 50%;
}

.individual-thought .thought-quote {
  font-size: 20px;
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  padding: 0 10px;
  line-height: 30px;
}

.individual-thought .thought-quote:after {
  position: absolute;
  content: "\f10e";
  bottom: -2px;
  right: -10px;
  font-family: fontawesome;
  font-size: 18px;
  color: #919191;
}

.individual-thought .thought-quote:before {
  position: absolute;
  content: "\f10d";
  left: -10px;
  top: -2px;
  font-family: fontawesome;
  font-size: 18px;
  color: #919191;
}

.no-padding [class*="col-"] {
  padding-right: 0px;
  padding-left: 0px;
}

.inner-about-wrap {
  position: relative;
  display: block;
}

.inner-about-wrap .about-content {
  background: #006cd9;
  color: #fff;
  min-height: 500px;
  padding: 30px;
}

.inner-about-wrap .about-content .text-wrap {
  max-width: 550px;
  width: 100%;
}

.inner-about-wrap .about-content .text-wrap h3 {
  font-size: 30px;
  font-weight: 100;
}

.inner-about-wrap .about-content .text-wrap h3 span {
  position: relative;
}

.inner-about-wrap .about-content .text-wrap h3 span:after {
  width: 40px;
  height: 1px;
  background: #fff;
  bottom: 5px;
  position: absolute;
  content: "";
  left: 0;
  bottom: -2px;
  margin: auto;
}

.inner-about-wrap .img-bg-about {
  background-image: url(../img/4.png);
  min-height: 500px;
  display: block;
  background-position: center;
}

.counter-wrap {
  position: relative;
  min-height: 350px;
  background: #006cd9 url(../images/spacial-bg.jpg);
  display: block;
  background-size: cover;
  padding: 50px 0;
  text-align: center;
}

.counter-wrap .hc-inner-overlay {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  text-indent: -9999px;
}

.counter-wrap .counter-single {
  color: #fff;
  padding: 40px 0;
}

.counter-wrap .counter-single span {
  display: inline-block;
  width: 100%;
}

.counter-wrap .counter-single .counter {
  font-size: 26px;
  font-weight: 600;
  margin-top: 25px;
}

.counter-wrap .counter-single .counter-text {
  margin: 10 0;
  font-size: 17px;
}

.association-section-wrap {
  position: relative;
  padding: 50px 0 50px;
}

.association-section-wrap .associations {
  display: block;
  position: relative;
  margin-top: 25px;
}

.association-section-wrap .associations .owl-dots .owl-dot span {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  background: #a5a5a5;
}

.association-section-wrap .associations .owl-dots .owl-dot.active span {
  background: #002040;
}

/*
6. Service  css here
-----------------*/
.service-wrap-one {
  position: relative;
  padding: 50px 0px;
}

.service-block-one {
  position: relative;
  margin: 20px 0;
}

.service-block-one .media .media-body {
  padding-left: 15px;
}

.service-block-one .media .media-body h3 {
  font-weight: 300;
}

.service-block-one .media .media-body h3 a {
  color: #000;
  transition: all 0.6s ease-in-out 0s;
  -webkit-transition: all 0.6s ease-in-out 0s;
  -moz-transition: all 0.6s ease-in-out 0s;
  -ms-transition: all 0.6s ease-in-out 0s;
  -o-transition: all 0.6s ease-in-out 0s;
}

.service-block-one .media .media-body h3 a:hover {
  color: #003973;
}

.service-block-one .media .media-body p {
  color: #696a6b;
}

/*
7. Contact Style scss here
----------------------------*/
.inner-body-wrap {
  display: block;
  position: relative;
  padding: 50px 0;
  min-height: 200px;
}

.second-head {
  position: relative;
  margin-bottom: 34px;
}

.second-head h3 {
  font-weight: 100;
  letter-spacing: 1.5px;
}

.second-head h3 span {
  position: relative;
}

.second-head h3 span:after {
  position: absolute;
  height: 2px;
  width: 20px;
  left: 0;
  content: "";
  bottom: -2px;
  background: #006cd9;
}

.second-bold-head {
  position: relative;
}

.second-bold-head h3 {
  font-weight: 600;
  font-size: 20px;
}

.contact-message {
  background: #f1f1f1;
  padding: 20px;
}

.contact-message .form-control {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  padding: 20px 10px;
  height: 40px;
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #fafafa;
}

.contact-message .form-group {
  margin-bottom: 20px;
}

.contact-message .form-group .text-area {
  display: block;
  border: none;
  padding: 20px 10px;
  width: 100%;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
}

.contact-message .text-uper {
  text-transform: uppercase;
}

.contact-info address {
  margin-bottom: 30px;
}

.contact-info address span {
  display: inline-block;
  width: 100%;
  margin-top: 20px;
}

.map-wrapper .gmap {
  display: block;
  margin-top: 25px;
  position: relative;
}

.social-contact {
  margin: 0;
  padding: 0;
  margin-top: 30px;
}

.social-contact li {
  display: inline-block;
  list-style: none;
}

.social-contact li a {
  padding: 4px;
  width: 30px;
  height: 30px;
  border: 2px solid #aaa;
  display: block;
  text-align: center;
  -webkit-transition: all 0.6s ease-in-out 0s;
  transition: all 0.6s ease-in-out 0s;
}

.social-contact li a:hover {
  background: #006cd9;
  color: #fff;
  border-color: #006cd9;
}

.social-contact li.active a {
  background: #006cd9;
  color: #fff;
  border-color: #006cd9;
}

/*
8 Home ent style here
----------------------*/
.home-banner-ent {
  position: relative;
  display: block;
  background: #000;
  display: block;
  background-size: cover;
}

.home-banner-ent .sp-row-padding:hover [class*="col-"] {
  width: 30%;
}

.home-banner-ent .sp-row-padding [class*="col-"] {
  padding-left: 0 !important;
  padding-right: 0 !important;
  min-height: 75vh;
  position: relative;
  transition: all 0.6s ease-in-out 0s;
  -webkit-transition: all 0.6s ease-in-out 0s;
  -moz-transition: all 0.6s ease-in-out 0s;
  -ms-transition: all 0.6s ease-in-out 0s;
  -o-transition: all 0.6s ease-in-out 0s;
  /*color: $white-color;*/
}

.home-banner-ent .sp-row-padding [class*="col-"]:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  z-index: 0;
}

.home-banner-ent .sp-row-padding [class*="col-"]:hover {
  width: 40%;
}

.home-banner-ent .sp-row-padding [class*="col-"].ear {
  background-image: url(../images/ear.png);
  background-size: cover;
  background-position: 50% 50%;
}

.home-banner-ent .sp-row-padding [class*="col-"].nose {
  background-image: url(../images/nose.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.home-banner-ent .sp-row-padding [class*="col-"].throat {
  background-image: url(../images/throat.jpg);
  background-size: cover;
  background-position: 50% 50%;
}

.home-banner-ent .sp-row-padding .content-ent {
  display: block;
  margin-top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  z-index: 999;
  text-align: center;
  max-width: 500px;
  width: 100%;
  padding: 0 50px;
  text-align: left;
  color: #fff;
}

.home-banner-ent .sp-row-padding .content-ent a {
  cursor: pointer;
}

.home-banner-ent .sp-row-padding .content-ent h2 {
  position: relative;
}

.home-banner-ent .sp-row-padding .content-ent h2 span {
  color: #006cd9;
}

.about-call-tostyle {
  position: relative;
  min-height: 400px;
  padding: 50px 0px;
  display: block;
  background: #001327;
  color: #fff;
}

.about-call-tostyle .heading-wrap h2 span:after {
  background: #fff;
}

.about-call-tostyle .about-content h3 {
  font-weight: 100;
}

.about-call-tostyle .about-content h3 span {
  font-weight: bold;
}

.about-call-tostyle .about-content p {
  color: #f1f1f1;
}

.specialities-doctor {
  min-height: 400px;
  position: relative;
  padding: 50px 0;
  background: #F4F4F4;
  display: block;
  clear: both;
  background: #F4F4F4;
}

.specialities-doctor .team-ent {
  margin-top: 25px;
}

.specialities-doctor .owl-dots .owl-dot span {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  background: #a5a5a5;
}

.specialities-doctor .owl-dots .owl-dot.active span {
  background: #002040;
}

.specialities-doctor .team-member-block-ent {
  position: relative;
  background: #006cd9;
  text-align: center;
  color: #fff;
  padding: 0 0 25px 0;
}

.specialities-doctor .team-member-block-ent:hover .hover-details {
  top: 0;
  bottom: 0;
}

.specialities-doctor .team-member-block-ent:hover .details-doctor {
  right: 0;
  left: 0;
}

.specialities-doctor .team-member-block-ent figure {
  position: relative;
  overflow: hidden;
}

.specialities-doctor .team-member-block-ent figure img {
  padding: 15px;
}

.specialities-doctor .team-member-block-ent figure .hover-details {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  left: 0;
  right: 0;
  top: auto;
  bottom: 100%;
  content: "";
  z-index: 99;
  transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  text-indent: -99999px;
}

.specialities-doctor .team-member-block-ent figure .details-doctor {
  right: 0;
  bottom: 0;
  top: 0;
  left: 100%;
  position: absolute;
  content: "";
  width: 35px;
  height: 35px;
  text-align: center;
  margin: auto;
  transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
  color: #fff;
  z-index: 999;
}

.specialities-doctor .team-member-block-ent figure .details-doctor i {
  font-size: 15px;
  color: #f1f1f1;
  display: inline-block;
  width: 35px;
  height: 35px;
  border: 1px solid #f1f1f1;
  display: table-cell;
  vertical-align: middle;
}

.call-to-action-two {
  position: relative;
  min-height: 250px;
  display: block;
  color: #fff;
}

.call-to-action-two h2 {
  font-weight: 100;
}

.call-to-action-two .cta-left-info {
  padding: 25px 0;
}

.call-to-action-two .cta-right-info {
  padding: 25px 20px 50px;
}

.call-to-action-two .cta-right-info .phone-no {
  font-size: 34px;
  font-weight: 600;
}

.call-to-action-two .cta-right-info .h-phone {
  font-size: 34px;
  display: inline-block;
  width: 100%;
  clear: both;
}

.call-to-action-two:after {
  content: "";
  position: absolute;
  height: 100%;
  width: 50%;
  top: 0px;
  z-index: -1;
  background: #006cd9;
  left: 0;
}

.call-to-action-two:before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0px;
  z-index: -1;
  background: #000;
}

ul.hospital-time-list {
  list-style: none;
  margin: 0;
  padding: 0;
  display: inline-block;
  text-align: left;
  position: relative;
  z-index: 111;
}

ul.hospital-time-list li {
  line-height: 35px;
  overflow: hidden;
}

ul.hospital-time-list li strong,
ul.hospital-time-list li span {
  display: inline-block;
}

ul.hospital-time-list li strong {
  min-width: 130px;
}

ul.hospital-time-list li span {
  float: right;
}

.hospital-timing {
  position: relative;
  padding: 0 0 30px;
  /*background: $black-color;*/
}

.hospital-timing .hospital-timing-block {
  background-image: url(../images/diagnostics.png);
  background-size: cover;
  padding: 20px;
  text-align: center;
  margin: 25px 0;
  color: #fff;
  position: relative;
}

.hospital-timing .hospital-timing-block .overlay {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.8);
  text-indent: -9999px;
  z-index: 0;
}

.hospital-timing table thead tr th {
  border-bottom: 1px solid #f1f1f1;
  line-height: 22px;
  padding: 9px 0px;
}

.hospital-timing table thead tr th span {
  display: inline-block;
  clear: both;
  width: 100%;
  overflow: hidden;
}

.hospital-timing table thead tr th span.time {
  font-weight: 100;
}

.hospital-timing table tbody tr:nth-child(odd) {
  background: #006cd9;
  color: #f1f1f1;
}

.hospital-timing table tbody tr td {
  border-top: 1px solid transparent;
  line-height: 40px;
}

.our-blog-news-wrap {
  padding: 50px 0;
}

/*
9 Home eye css here 
-------------------- */
.news-letter-body {
  min-height: 200px;
  display: block;
  position: relative;
  clear: both;
  background: #006cd9;
  color: #fff;
  padding: 25px 0;
  text-align: center;
}

.news-letter-body h2 {
  font-weight: 100;
  margin-top: 0;
  line-height: 45px;
}

.news-letter-body .body-subscribe {
  position: relative;
}

.news-letter-body .body-subscribe .form-group .sub-btn {
  position: absolute;
  right: 0;
  color: #fff;
  top: 8px;
  background: transparent;
  border: none;
}

.news-letter-body .body-subscribe .form-group .form-control {
  background: #002d5a;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0px;
  color: #fff;
  box-shadow: none;
  padding: 20px 10px;
  margin-top: 20px;
}

.news-letter-body .body-subscribe .form-group .form-control:focus {
  box-shadow: none;
}

.news-letter-body .body-subscribe .form-group .form-control:hover {
  box-shadow: none;
}

.home-banner-eye {
  min-height: 600px;
  width: 100%;
  position: relative;
  display: block;
}

.home-banner-eye .hc-overlay {
  background: rgba(0, 108, 217, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  text-indent: -9999px;
}

.home-banner-eye .banner-eye-content {
  color: #fff;
  margin-top: 13%;
  -webkit-transform: translateY(-13%);
  transform: translateY(-13%);
}

.home-banner-eye .banner-eye-content h2 {
  font-weight: 100;
  text-transform: uppercase;
  line-height: 40px;
}

.home-banner-eye .banner-eye-content p {
  line-height: 35px;
}

.health-plan-wrap {
  position: relative;
  display: block;
  margin: 50px 0;
}

.health-plan-wrap .health-plan-blok.popular {
  border: 5px solid #002040;
}

.health-plan-wrap .health-plan-blok {
  background: #fafafa;
  border: 5px solid whitesmoke;
  padding: 15px;
  position: relative;
  margin-top: 30px;
  transition: all 0.6s ease-in-out 0s;
  -webkit-transition: all 0.6s ease-in-out 0s;
  -moz-transition: all 0.6s ease-in-out 0s;
  -ms-transition: all 0.6s ease-in-out 0s;
  -o-transition: all 0.6s ease-in-out 0s;
}

.health-plan-wrap .health-plan-blok:hover {
  border: 5px solid #002040;
}

.health-plan-wrap .health-plan-blok .plan-header {
  position: relative;
  display: block;
  margin-bottom: 40px;
  text-align: center;
}

.health-plan-wrap .health-plan-blok .plan-header h2 {
  font-weight: 100;
}

.health-plan-wrap .health-plan-blok .plan-header .month-price-wrap span.price {
  font-size: 40px;
  font-weight: bold;
  color: #006cd9;
  padding: 20px 0;
  position: relative;
}

.health-plan-wrap .health-plan-blok .plan-header .month-price-wrap span.price:after {
  height: 1px;
  width: 35px;
  background: #006cd9;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  bottom: 0;
  top: auto;
  margin: auto;
}

.health-plan-wrap .health-plan-blok .plan-header .month-price-wrap span {
  font-weight: 100;
  font-size: 17px;
}

.health-plan-wrap .health-plan-blok .plan-body {
  position: relative;
  text-align: center;
}

.health-plan-wrap .health-plan-blok .plan-body ul.plan-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.health-plan-wrap .health-plan-blok .plan-body ul.plan-list li:last-child {
  border-bottom: 1px solid transparent;
}

.health-plan-wrap .health-plan-blok .plan-body ul.plan-list li {
  position: relative;
  padding: 15px 10px 15px 25px;
  border-bottom: 1px solid #f1f1f1;
  font-size: 14px;
  line-height: 25px;
  overflow: hidden;
  display: block;
  color: #696a6b;
  font-weight: 100;
}

.health-plan-wrap .health-plan-blok .plan-body ul.plan-list li strong {
  display: block;
  clear: both;
  overflow: hidden;
}

.health-plan-wrap .health-plan-blok .plan-footer {
  position: relative;
  display: block;
  text-align: center;
  margin: 25px 0;
  display: inline-block;
  width: 100%;
  clear: both;
}

.call-to-action-three {
  background: #006cd9;
  color: #fff;
  position: relative;
  padding: 50px 0;
}

.call-to-action-three h2 {
  font-weight: 100;
}

.our-main-treatment-list {
  min-height: 500px;
  padding: 50px 0;
  width: 100%;
  position: relative;
  display: block;
  background: url(../images/eye2.jpg);
  color: #fff;
}

.our-main-treatment-list .hc-overlay {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  text-indent: -9999px;
}

.our-main-treatment-list h2 {
  font-weight: 100;
}

.our-main-treatment-list .treatment-listing ul.service-listing {
  position: relative;
  padding: 0;
  margin: 30px 0 0 15px;
}

.our-main-treatment-list .treatment-listing ul.service-listing li {
  line-height: 30px;
  list-style: none;
  font-weight: 100;
  position: relative;
  padding-left: 20px;
}

.our-main-treatment-list .treatment-listing ul.service-listing li:before {
  content: "\f101";
  position: absolute;
  font-family: fontawesome;
  left: 0;
}

.aboutus-eye-wrap {
  position: relative;
  display: block;
  min-height: 250px;
  background: #fafafa;
  padding: 50px 0 50px 0;
}

.aboutus-eye-wrap .about-disc-eye {
  margin-bottom: 25px;
}

.aboutus-eye-wrap .heading-wrap p span {
  color: #aeaeae;
}

.aboutus-eye-wrap .video-popup-block {
  display: block;
  width: 100%;
  min-height: 280px;
  background-image: url(../images/eye1.jpg);
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.aboutus-eye-wrap .video-popup-block .hc-overlay {
  background: rgba(0, 108, 217, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  text-indent: -9999px;
}

.aboutus-eye-wrap .video-popup-block .popup-link {
  width: 50px;
  height: 50px;
  font-size: 45px;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 111;
  color: #fff;
  line-height: 50px;
  opacity: 0.7;
}

/*
10 Home skin start here
----------------------- */
.skin-bannerwrap {
  position: relative;
  min-height: 500px;
  background-color: #000;
  background-image: url(../images/skin1.jpg);
  background-size: cover;
  display: block;
  padding: 25px 0;
}

.skin-bannerwrap .hc-overlay {
  background: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 11;
  background-size: cover;
  text-indent: -9999px;
}

.skin-bannerwrap .skin-banner-content-wrap {
  /*color: $white-color;*/
  z-index: 999;
}

.skin-bannerwrap .skin-banner-content-wrap:hover .owl-nav {
  opacity: 1;
}

.skin-bannerwrap .skin-banner-content-wrap {
  min-height: 500px;
  position: relative;
  z-index: 111;
}

.skin-bannerwrap .skin-banner-content-wrap:hover .owl-controls .owl-nav {
  opacity: 1;
}

.skin-bannerwrap .skin-banner-content-wrap h2 {
  /*font-weight: 100;*/
  line-height: 45px;
}

.skin-bannerwrap .skin-banner-content-wrap .single-banner-item {
  position: relative;
  padding: 20px 0px;
}

.skin-bannerwrap .skin-banner-content-wrap .single-banner-item img {
  max-width: 100%;
  width: auto;
}

.skin-bannerwrap .skin-banner-content-wrap .single-banner-item ul li {
  line-height: 30px;
}

.skin-bannerwrap .skin-banner-content-wrap .single-right-banner-cont {
  position: relative;
  z-index: 9999;
  padding: 20px 0;
  font-weight: normal;
  /*margin-left: 54px;*/
  display: block;
}

.skin-bannerwrap .skin-banner-content-wrap .single-right-banner-cont h2 {
  font-size: 50px;
}

.skin-bannerwrap .skin-banner-content-wrap .single-right-banner-cont p {
  font-size: 18px;
  margin-top: 30px;
  width: 90%;
}

.skin-bannerwrap .skin-banner-content-wrap .single-right-banner-cont .it-heighlight {
  color: #006cd9;
  font-weight: bold;
  text-transform: uppercase;
}

.skin-bannerwrap .skin-banner-content-wrap .owl-dots {
  position: relative;
  clear: both;
  margin-top: 25px;
}

.skin-bannerwrap .skin-banner-content-wrap .owl-dots .owl-dot span {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  background: #a5a5a5;
}

.skin-bannerwrap .skin-banner-content-wrap .owl-dots .owl-dot.active span {
  background: #002040;
}

.skin-bannerwrap .skin-banner-content-wrap .owl-nav {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  opacity: 0;
  -webkit-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s;
  margin: auto;
  display: block;
  width: 100%;
  height: 40px;
}

.skin-bannerwrap .skin-banner-content-wrap .owl-nav .owl-prev {
  left: 0%;
  position: absolute;
  background: #006cd9;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  padding: 10px 15px;
}

.skin-bannerwrap .skin-banner-content-wrap .owl-nav .owl-next {
  right: 0%;
  position: absolute;
  background: #006cd9;
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  padding: 10px 15px;
}

.skin-bannerwrap .skin-banner-content-wrap .owl-nav .owl-next:hover {
  /*background: $theme-color;*/
}

.service-wrap-four {
  position: relative;
  padding: 50px 0;
  display: block;
}

.service-wrap-four h2 {
  font-weight: 100;
}

.service-wrap-four h2 span {
  position: relative;
}

.service-wrap-four h2 span:after {
  position: absolute;
  left: 0;
  bottom: 0;
  content: "";
  height: 2px;
  width: 30px;
  background: #006cd9;
}

.service-wrap-four .getin-touch {
  margin: 25px 0 0 0;
  padding: 30px;
}

.service-wrap-four .heading-wrap-skin p {
  color: #696a6b;
}

.treatment-list-wrap-four {
  min-height: 500px;
  padding: 50px 0;
  width: 100%;
  position: relative;
  display: block;
  background: url(../images/skin1.jpg);
  background-size: cover;
  color: #fff;
}

.treatment-list-wrap-four .hc-overlay {
  background: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  text-indent: -9999px;
}

.treatment-list-wrap-four h2 {
  font-weight: 100;
}

.treatment-list-wrap-four .treatment-listing ul.service-listing {
  position: relative;
  padding: 0;
  margin: 30px 0 0 15px;
}

.treatment-list-wrap-four .treatment-listing ul.service-listing li {
  line-height: 30px;
  list-style: none;
  font-weight: 100;
  position: relative;
  padding-left: 20px;
}

.treatment-list-wrap-four .treatment-listing ul.service-listing li a {
  color: #fff;
  text-decoration: none;
}

.treatment-list-wrap-four .treatment-listing ul.service-listing li:before {
  content: "\f101";
  position: absolute;
  font-family: fontawesome;
  left: 0;
}

.company-video-four {
  display: block;
  width: 100%;
  min-height: 350px;
  background-image: url(../images/skin1.jpg);
  background-size: cover;
  position: relative;
  overflow: hidden;
}

.company-video-four .hc-overlay {
  background: rgba(0, 108, 217, 0.5);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  text-indent: -9999px;
}

.company-video-four .popup-link {
  width: 50px;
  height: 50px;
  font-size: 55px;
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  z-index: 111;
  color: #fff;
  line-height: 50px;
  opacity: 0.7;
}

/*
11 Hospital app landing
-------------------------*/
.banner-app-wrap {
  padding: 50px 0 0;
  overflow: hidden;
  /*background: url(../images/app-bg.jpg);*/
  background: #006cd9 url(../images/thought-bg.png);
  background-size: cover;
  display: block;
  position: relative;
  min-height: 600px;
}

.banner-app-wrap .app-banner-content-wrap {
  position: relative;
  color: #fff;
  padding-top: 80px;
}

.banner-app-wrap .app-banner-content-wrap h2 {
  font-weight: 100;
  line-height: 45px;
}

.banner-app-wrap .app-banner-content-wrap .right-img {
  /*padding-top: 50px;*/
  position: relative;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: -50px;
  display: block;
}

.banner-app-wrap .app-banner-content-wrap .app-banner-content {
  margin: 80px 0 50px;
  position: relative;
  display: block;
}

.banner-app-wrap .app-banner-content-wrap .app-banner-content .btn-app-wrap {
  position: relative;
  margin: 30px 0;
}

.banner-app-wrap .app-banner-content-wrap .app-banner-content .btn-app-wrap span {
  display: inline-block;
  margin-right: 20px;
}

.app-heading {
  display: inline-block;
  max-width: 650px;
  clear: both;
  width: 100%;
  padding: 25px 0;
}

.app-heading h2 {
  margin-top: 10px;
  font-weight: bold;
}

.app-heading span {
  color: #696a6b;
  font-size: 17px;
  font-weight: bold;
}

.app-about-section-wrap {
  position: relative;
  padding: 50px 0;
}

.app-about-section-wrap .app-about-block {
  position: relative;
  display: block;
  text-align: center;
  margin-bottom: 50px;
}

.app-about-section-wrap .app-about-block:hover .icon-show {
  background: #006cd9;
}

.app-about-section-wrap .app-about-block:hover .icon-show i {
  color: #fff;
}

.app-about-section-wrap .app-about-block .icon-show {
  width: 125px;
  height: 125px;
  background: #f1f1f1;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  position: relative;
  display: inline-block;
  text-align: center;
}

.app-about-section-wrap .app-about-block .icon-show i {
  position: absolute;
  height: 30px;
  width: 30px;
  font-size: 30px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.app-video-wrap {
  display: block;
  background: #00060d url(../images/thought-bg.png);
  background-size: cover;
}

.app-video-wrap .video-discription {
  color: #fff;
  padding: 50px;
}

.app-video-wrap .video-discription h2 {
  font-weight: 100;
}

.app-video-block {
  width: 100%;
  position: relative;
}

.app-video-block #play-video {
  position: absolute;
  cursor: pointer;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  top: 0;
  background-size: cover;
  background-image: url(../images/banner-bg.jpg);
  background-size: cover;
}

.app-video-block #play-video:after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background: rgba(0, 108, 217, 0.5);
  content: "";
  z-index: 0;
}

.app-video-block #play-video i {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  top: 0;
  margin: auto;
  width: 50px;
  height: 50px;
  z-index: 99;
  font-size: 50px;
  color: #fff;
  cursor: pointer;
}

.app-video-block #play-video:before {
  position: absolute;
  z-index: 999;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  top: 0;
  background: rgba(0, 0, 0, 0.7);
  z-index: 9999;
  width: 100%;
  height: 100%;
}

.app-feature-wrap {
  position: relative;
  display: block;
  padding: 50px 0;
}

.app-feature-wrap .feature-right-icon {
  display: inline-block;
  width: 100%;
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}

.app-feature-wrap .feature-right-icon li {
  position: relative;
  display: inline-block;
  width: 100%;
  clear: both;
  padding-bottom: 25px;
}

.app-feature-wrap .feature-right-icon li .feature-cont {
  width: calc(100% - 60px);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  padding-right: 20px;
  position: relative;
  float: left;
  text-align: right;
}

.app-feature-wrap .feature-right-icon li .feature-icon {
  width: 60px;
  height: 60px;
  background: #f1f1f1;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  position: relative;
  display: inline-block;
  float: right;
  text-align: center;
}

.app-feature-wrap .feature-right-icon li .feature-icon i {
  position: absolute;
  height: 20px;
  width: 20px;
  font-size: 20px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.app-feature-wrap .feature-right-icon li:hover .feature-icon {
  background: #006cd9;
}

.app-feature-wrap .feature-right-icon li:hover .feature-icon i {
  color: #fff;
}

.app-feature-wrap .feature-left-icon {
  display: inline-block;
  width: 100%;
  clear: both;
  list-style: none;
  margin: 0;
  padding: 0;
}

.app-feature-wrap .feature-left-icon li {
  position: relative;
  display: inline-block;
  clear: both;
  padding-bottom: 25px;
  width: 100%;
}

.app-feature-wrap .feature-left-icon li .feature-cont {
  width: calc(100% - 60px);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  padding-left: 20px;
  position: relative;
  float: right;
}

.app-feature-wrap .feature-left-icon li .feature-icon {
  width: 60px;
  height: 60px;
  background: #f1f1f1;
  border-radius: 100%;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  -ms-border-radius: 100%;
  transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
  position: relative;
  display: inline-block;
  float: left;
  text-align: center;
}

.app-feature-wrap .feature-left-icon li .feature-icon i {
  position: absolute;
  height: 20px;
  width: 20px;
  font-size: 20px;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

.app-feature-wrap .feature-left-icon li:hover .feature-icon {
  background: #006cd9;
}

.app-feature-wrap .feature-left-icon li:hover .feature-icon i {
  color: #fff;
}

.app-pricing-plan-wrap {
  position: relative;
  background: url(../images/app-plan-bg.jpg);
  background-size: cover;
  display: block;
  min-height: 500px;
  padding: 50px 0;
}

.app-pricing-plan-wrap .app-heading {
  color: #fff;
}

.app-pricing-plan-wrap .hc-overlay {
  position: absolute;
  content: "";
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  text-indent: -9999px;
  z-index: 0;
}

.app-pricing-plan-wrap .app-plan-block {
  display: block;
  background: #fff;
  padding: 0 0 50px 0;
}

.app-pricing-plan-wrap .app-plan-block .plan-header {
  min-height: 210px;
  display: block;
  background: #006cd9;
  color: #fff;
  padding: 30px;
  text-align: center;
}

.app-pricing-plan-wrap .app-plan-block .plan-header .app-price {
  display: inline-block;
  font-size: 25px;
  font-weight: bold;
  font-family: raleway;
  margin-top: 40px;
}

.app-pricing-plan-wrap .app-plan-block .plan-list {
  list-style: none;
  overflow: hidden;
  padding: 0;
  margin: 0;
}

.app-pricing-plan-wrap .app-plan-block .plan-list li:nth-child(odd) {
  background: #f1f1f1;
}

.app-pricing-plan-wrap .app-plan-block .plan-list li:nth-child(even) {
  background: transparent;
}

.app-pricing-plan-wrap .app-plan-block .plan-list li {
  line-height: 40px;
  border-bottom: 1px solid #f1f1f1;
  padding: 0 15px;
  clear: both;
  display: block;
  width: 100%;
  overflow: hidden;
}

.app-pricing-plan-wrap .app-plan-block .plan-list li span {
  font-size: 15px;
  font-weight: bold;
}

.app-pricing-plan-wrap .app-plan-block .plan-list li .plan-left {
  display: inline-block;
  float: left;
}

.app-pricing-plan-wrap .app-plan-block .plan-list li .plan-right {
  display: inline-block;
  float: right;
}

.app-pricing-plan-wrap .app-plan-block .btn-app-footer {
  display: block;
  clear: both;
  padding: 50px 0 0px;
  text-align: center;
}

.join-usfor-app {
  position: relative;
  padding: 50px 0;
  display: block;
  overflow: hidden;
}

/*
12 Blog page css here
-----------------------...
--blog section
--sidebar  
*/
.Blog-wrap {
  min-height: 500px;
  padding: 50px 0;
}

.blog-body-content {
  display: block;
  clear: both;
  /*blog single*/
}

.blog-body-content .medical-blog-block {
  position: relative;
  background: #f7f7f7;
  padding: 0px 15px;
  box-shadow: 0 8px 6px -7px #d8d8d8;
  margin-bottom: 30px;
}

.blog-body-content .medical-blog-block:hover figure .hover-icon {
  left: 0;
}

.blog-body-content .medical-blog-block figure {
  display: block;
  overflow: hidden;
  position: relative;
}

.blog-body-content .medical-blog-block figure .hover-icon {
  position: absolute;
  left: -100px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  display: block;
  overflow: hidden;
  transition: all 0.4s ease-in-out 0s;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  -ms-transition: all 0.4s ease-in-out 0s;
  -o-transition: all 0.4s ease-in-out 0s;
}

.blog-body-content .medical-blog-block figure .hover-icon span {
  width: 50px;
  height: 50px;
  display: table-cell;
  margin: 2px 4px;
  background: #fff;
  padding: 4px;
  font-size: 10px;
  clear: both;
  position: relative;
  float: left;
  text-align: center;
  vertical-align: middle;
}

.blog-body-content .medical-blog-block:hover {
  /*background: $dim-bg;*/
}

.blog-body-content .medical-blog-block .blog-caption {
  display: block;
  margin-top: 20px;
}

.blog-body-content .medical-blog-block .blog-heading {
  position: relative;
  display: block;
  padding: 20px 85px 20px 0px;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 20px;
  min-height: 90px;
}

.blog-body-content .medical-blog-block .blog-heading a {
  color: #989898;
}

.blog-body-content .medical-blog-block .blog-heading h2 {
  font-size: 20px;
  margin: 0;
  line-height: 25px;
  font-weight: 600;
}

.blog-body-content .medical-blog-block .blog-heading span {
  display: inline-block;
  margin-right: 8px;
  font-size: 12px;
  margin-top: 10px;
}

.blog-body-content .medical-blog-block .blog-heading .right-date {
  width: 70px;
  height: 85px;
  position: absolute;
  right: 0;
  bottom: 0;
  background: #006cd9;
  color: #fff;
  padding: 5px;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  font-weight: 100;
  font-size: 13px;
}

.blog-body-content .medical-blog-block .blog-heading .right-date span {
  font-weight: bold;
  display: inline-block;
  width: 100%;
  clear: both;
  overflow: hidden;
  font-size: 20px;
  margin: 0;
}

.blog-body-content .medical-blog-block .blog-caption {
  padding: 0px 0px 20px;
}

.blog-body-content .medical-blog-block .blog-caption .btn-wrap {
  margin: 15px 0 20px;
}

.blog-body-content .medical-blog-block .blog-caption .btn-wrap a {
  color: #000;
}

.blog-body-content .medical-blog-block.bottom {
  padding-top: 15px;
  position: relative;
}

.blog-body-content .medical-blog-block.bottom .blog-heading {
  position: relative;
  display: block;
  min-height: 90px;
  margin-bottom: 20px;
}

.blog-body-content .medical-blog-block.bottom .blog-heading .right-date {
  right: 0;
  top: auto;
  bottom: 0;
}

.blog-body-content .medical-blog-block.bottom .blog-heading h2 {
  margin: 0;
}

.blog-body-content .comment-section-wrap {
  display: block;
  clear: both;
  margin-top: 34px;
  padding-top: 15px;
  position: relative;
}

.blog-body-content .comment-section-wrap .blog-comments .comment-single {
  border-bottom: 1px dotted #f1f1f1;
  overflow: hidden;
  display: block;
  padding-bottom: 20px;
  margin-top: 20px;
}

.blog-body-content .comment-section-wrap .blog-comments li {
  width: 100%;
  clear: both;
  margin-bottom: 20px;
  list-style: none;
  margin-bottom: 20px;
}

.blog-body-content .comment-section-wrap .blog-comments li:last-child .comment-single {
  border-bottom: 0;
}

.blog-body-content .comment-section-wrap .blog-comments .avatar-thumb {
  width: 80px;
  height: 80px;
  float: left;
}

.blog-body-content .comment-section-wrap .blog-comments .avatar-thumb img {
  max-width: 100%;
}

.blog-body-content .comment-section-wrap .blog-comments .comment-block {
  width: calc(100% - 80px);
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  float: left;
  padding-left: 20px;
}

.blog-body-content .comment-section-wrap .blog-comments .comment-block a {
  color: #000;
}

.blog-body-content .comment-section-wrap .blog-comments .comment-block a:hover {
  color: #006cd9;
}

.blog-body-content .comment-section-wrap .blog-comments .comment-block .date {
  color: #bababa;
}

.blog-body-content .comment-section-wrap .blog-comments .comment-block .comment-by {
  padding-bottom: 15px;
}

.blog-body-content .comment-form-wrap .leave-comment-head {
  margin-bottom: 30px;
}

.blog-body-content .comment-form-wrap .form-input-row {
  margin-bottom: 20px;
}

.blog-body-content .comment-form-wrap .form-input-row:before,
.blog-body-content .comment-form-wrap .form-input-row:after {
  content: "";
  display: table;
}

.blog-body-content .comment-form-wrap .form-input-row:after {
  clear: both;
}

.blog-body-content .comment-form-wrap .form-input-row input,
.blog-body-content .comment-form-wrap .form-input-row textarea {
  border: none;
  box-shadow: none;
  border-bottom: 1px solid #f1f1f1;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
}

.blog-body-content .comment-form-wrap .form-input-row input:focus,
.blog-body-content .comment-form-wrap .form-input-row textarea:focus {
  border-bottom: 1px solid #006cd9;
}

.pagination-wrap {
  padding: 0px 0;
  border-top: 1px solid #f1f1f1;
  margin: 15px 0 0;
  clear: both;
  overflow: hidden;
}

.pagination-wrap .pagination>li>a,
.pagination-wrap .pagination>li>span {
  border: 1px solid transparent;
  background-color: #e1e1e1;
  margin-right: 5px;
}

.pagination-wrap .pagination>.active>a,
.pagination-wrap .pagination>.active>span,
.pagination-wrap .pagination>.active>a:hover,
.pagination-wrap .pagination>.active>span:hover,
.pagination-wrap .pagination>.active>a:focus,
.pagination-wrap .pagination>.active>span:focus {
  background-color: #006cd9;
}

.sidebar-wrap {
  position: relative;
}

.sidebar-wrap .search-block {
  position: relative;
  min-height: 100px;
  margin-bottom: 20px;
}

.sidebar-wrap .search-block .sidebar-form .form-control {
  background: #fafafa;
  border: none;
  box-shadow: none;
  font-size: 12px;
  border-bottom: 1px solid #f1f1f1;
}

.sidebar-wrap .search-block .sidebar-form .btn-search {
  background: #006cd9;
  color: #fff;
}

.sidebar-wrap .search-block .sidebar-form .input-group-addon:last-child {
  border-left: 1px solid #ddd;
}

.sidebar-wrap .news-tab-block {
  display: block;
  margin-bottom: 25px;
}

.sidebar-wrap .news-tab-block .news-tab {
  background: #f1f1f1;
  border-bottom: 1px solid transparent;
}

.sidebar-wrap .news-tab-block .news-tab a {
  border-radius: 0;
  font-size: 18px;
  color: #000;
  font-weight: bold;
}

.sidebar-wrap .news-tab-block .news-tab a:hover {
  background: transparent;
  border-color: transparent;
}

.sidebar-wrap .news-tab-block .nav-tabs>li.active>a,
.sidebar-wrap .news-tab-block .nav-tabs>li.active>a:hover,
.sidebar-wrap .news-tab-block .nav-tabs>li.active>a:focus {
  background: #006cd9;
  border: transparent;
  color: #fff;
}

.sidebar-wrap .news-tab-block .recent-news {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.sidebar-wrap .news-tab-block .recent-news li {
  clear: both;
  list-style: none;
  border-bottom: 1px solid #f1f1f1;
  overflow: hidden;
  margin-bottom: 10px;
  padding: 0 0 10px 0;
}

.sidebar-wrap .news-tab-block .recent-news li .left-news-thumb {
  width: 75px;
  height: 75px;
  float: left;
}

.sidebar-wrap .news-tab-block .recent-news li .left-news-thumb img {
  /*max-width: 100%;*/
}

.sidebar-wrap .news-tab-block .recent-news li .right-news-content {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  width: calc(100% - 75px);
  padding: 0 0 0px 20px;
  float: left;
  display: block;
}

.sidebar-wrap .news-tab-block .recent-news li .right-news-content h4 {
  font-size: 16px;
  line-height: 25px;
}

.sidebar-wrap .news-tab-block .recent-news li .right-news-content span {
  display: inline-block;
  margin-right: 10px;
  font-size: 12px;
  color: #a5a5a5;
}

.sidebar-wrap .news-tab-block .recent-news li .right-news-content span i {
  margin-right: 8px;
}

.sidebar-wrap .news-tab-block .popular-news {
  margin: 0;
  padding: 0;
  margin-top: 20px;
}

.sidebar-wrap .news-tab-block .popular-news li {
  clear: both;
  list-style: none;
}

.sidebar-heading {
  position: relative;
  display: block;
  margin-bottom: 25px;
}

.sidebar-heading h3 {
  font-size: 20px;
  font-weight: 300;
  margin-top: 0px;
}

.tags-block {
  position: relative;
}

.tags-block .tags-content {
  display: block;
}

.tags-block .tags-content a {
  padding: 6px 12px;
  border: 2px solid #006cd9;
  color: #000;
  margin: 8PX 4px;
  display: inline-block;
  font-size: 12px;
  transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
}

.tags-block .tags-content a:hover {
  color: #fff;
  background: #006cd9;
}

/*
13 Search Result css
--------------------- */
.search-result-wrap .search-head {
  font-weight: 100;
  position: relative;
  display: block;
  margin: 25px 0 35px;
  line-height: 44px;
}

.search-result-wrap .search-head:after {
  position: absolute;
  width: 35px;
  height: 1px;
  bottom: -2px;
  left: 0;
  content: "";
  background: #006cd9;
}

.search-result-wrap .search-head span {
  font-weight: bold;
}

.search-result-wrap ul.search-result-list {
  margin: 0;
  padding: 0;
}

.search-result-wrap ul.search-result-list li {
  list-style: none;
  min-height: 2px;
  border-bottom: 1px solid #f1f1f1;
  margin-bottom: 20px;
}

.search-result-wrap ul.search-result-list li:last-child {
  border-bottom: 1px solid transparent;
}

/*
14 Other Small pages page
-----------------------
- Single post
-coming soon
-video banner home
-department 
-oppoitment 
-----------------------*/
.single-pst-content {
  position: relative;
  display: block;
  margin: 20px 0 40px;
  overflow: hidden;
}

.single-pst-content h2 {
  font-weight: 300;
  margin-top: 0;
}

.st-error-wrap {
  min-height: 300px;
  width: 100%;
  display: block;
  padding: 20px 20px;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.st-error-wrap h2.error-big-text {
  font-size: 90px;
  -webkit-transition: all 0.6s ease-in-out 0s;
  transition: all 0.6s ease-in-out 0s;
  margin-bottom: 25px;
}

.st-error-wrap .error-link {
  width: 65px;
  height: 65px;
  border-radius: 100%;
  background: #006cd9;
  color: #fff;
  overflow: hidden;
  padding: 10px;
  margin: 34px 0 50px;
  display: inline-block;
  text-align: center;
  line-height: 22px;
}

.st-error-wrap .error-sm-text {
  font-size: 40px;
}

.coming-soon-overlay {
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  position: fixed;
  content: "";
  background: rgba(0, 108, 217, 0.5);
  z-index: 0;
}

.coming-soon-body {
  display: block;
  overflow: hidden;
  position: relative;
  z-index: 111;
}

.coming-soon-body .coming-soon-content-wrap {
  position: relative;
  display: block;
  margin-top: 60px;
}

.coming-soon-body .coming-soon-content-wrap .left-img {
  width: 260px;
  height: 360px;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  padding-right: 20px;
}

.coming-soon-body .coming-soon-content-wrap .left-img img {
  max-width: 100%;
}

.coming-soon-body .coming-soon-content-wrap .right-content {
  width: calc(100% - 260px);
  float: left;
  min-height: 80px;
  padding-left: 30px;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  background: white;
}

.coming-soon-body .coming-soon-content-wrap .right-content h2 {
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 25px;
  font-size: 50px;
  margin-top: 0;
}

.coming-soon-body .coming-soon-content-wrap .right-content .logo h1 {
  font-weight: 100;
  font-size: 30px;
}

.coming-soon-body .coming-soon-content-wrap .right-content .logo h1 span {
  color: #006cd9;
  font-weight: bold;
}

.coming-soon-body .coming-soon-content-wrap .right-content .defaultCountdown {
  max-width: 300px;
  height: auto;
  overflow: hidden;
  margin-bottom: 30px;
  border: none;
  background: transparent;
}

.coming-soon-body .coming-soon-content-wrap .right-content .defaultCountdown .countdown-section .countdown-amount {
  border: 1px solid #003973;
  width: 60px;
  padding: 10px 0;
  height: auto;
  display: inline-block;
  margin-bottom: 5px;
}

/*video banner css */
.video-bannerwrap {
  position: relative;
  display: block;
  clear: both;
  overflow: hidden;
  height: 550px;
  text-align: center;
}

.video-bannerwrap .hc-overlay {
  background: rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: "";
  text-indent: -9999px;
}

.video-bannerwrap .banner-center {
  max-width: 550px;
  margin: 0px auto auto;
  width: 100%;
  padding: 15px;
  display: block;
  color: #fff;
  z-index: 111;
  display: inline-block;
  margin-top: 80px;
}

.video-bannerwrap .banner-center h2 {
  font-weight: 100;
  line-height: 40px;
}

/*Our Department*/
.our-department-wrap {
  position: relative;
  padding: 50px 0;
  display: block;
}

.our-department-wrap .department-block {
  position: relative;
  padding: 40px;
  display: block;
  min-height: 200px;
  border: 1px solid #d8d8d8;
  margin: 30px 0 0;
  text-align: center;
}

.our-department-wrap .department-block h3 {
  position: relative;
  font-weight: 100;
}

.our-department-wrap .department-block h3 span {
  position: relative;
}

.our-department-wrap .department-block h3 span:after {
  width: 35px;
  height: 2px;
  background: #006cd9;
  position: absolute;
  content: "";
  bottom: -5px;
  left: 0;
  right: 0;
  margin: auto;
}

.our-department-wrap .department-block p {
  font-weight: 300;
  color: #696a6b;
}

/*Appointment section*/
.appointment-wrap {
  padding: 35px 0;
  min-height: 450px;
  /*background: lighten($dimline-color, 3%);*/
  position: relative;
}

.appointment-wrap .emergency-content {
  position: relative;
}

.appointment-wrap .emergency-content h3 {
  color: #006cd9;
  font-weight: bold;
}

.appointment-wrap .emergency-content h3 span {
  border-bottom: 1px solid #ff0000;
  display: inline-block;
  line-height: 40px;
}

.appointment-wrap .appointment-form .form-group {
  overflow: hidden;
}

.appointment-wrap .appointment-form .require {
  color: #ff0000;
  font-weight: 100;
  font-size: 11px;
}

.appointment-wrap .appointment-form .form-control {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  background: transparent;
  padding: 8px 12px;
  height: 40px;
  line-height: 40px;
}

.appointment-wrap .appointment-form .form-row {
  display: block;
}

.appointment-wrap .appointment-form .form-row:before,
.appointment-wrap .appointment-form .form-row:after {
  content: "";
  display: table;
}

.appointment-wrap .appointment-form .form-row:after {
  clear: both;
}

.appointment-wrap .appointment-form .form-row .one-half {
  width: 50%;
  position: relative;
  padding: 0px 15px;
  float: left;
}

.appointment-wrap .appointment-form .form-row .text-area {
  width: 100%;
  background: transparent;
  padding: 15px;
  border: 1px solid #cbcbcb;
}

.appointment-wrap .appointment-form .form-row .one-full {
  width: 100%;
  position: relative;
  padding: 0px 15px;
  float: left;
}

.appointment-wrap .appointment-form .form-row .dob {
  width: 31.3333%;
  position: relative;
  padding: 0px 15px;
  float: left;
  margin-right: 2%;
}

.switcherWrap.active {
  left: 0;
}

.switcherWrap {
  background: #d8d8d8;
  border-radius: 0 0 6px;
  left: -270px;
  position: fixed;
  width: 270px;
  z-index: 99999;
  min-height: 200px;
  padding: 0px 0px 15px 0px;
  top: 25%;
  color: #fff;
}

.switcherWrap .section-switch {
  margin-top: 20px;
  padding: 0 10px 0 10px;
}

.switcherWrap .section-switch .color-listed span {
  display: inline-block;
  float: left;
  margin-right: 10px;
  width: 25px;
  height: 25px;
  overflow: hidden;
}

.switcherWrap .section-switch .color-listed a {
  display: block;
  cursor: pointer;
  height: 25px;
  width: 25px;
}

.switcherWrap .section-switch .color-listed .indigo {
  border: 2px solid #857AFE;
}

.switcherWrap .section-switch .color-listed .indigo a {
  background: #857AFE;
  display: block;
  text-indent: -9999px;
}

.switcherWrap .section-switch .color-listed .default {
  border: 2px solid #006cd9;
}

.switcherWrap .section-switch .color-listed .default a {
  background: #006cd9;
  display: block;
  text-indent: -99999px;
}

.switcherWrap .section-switch .color-listed .green {
  border: 2px solid #00946d;
}

.switcherWrap .section-switch .color-listed .green a {
  background: #00946d;
  display: block;
  text-indent: -99999px;
}

.switcherWrap .section-switch .color-listed .yello {
  border: 2px solid #d08900;
}

.switcherWrap .section-switch .color-listed .yello a {
  background: #d08900;
  display: block;
  text-indent: -99999px;
}

.switcherWrap .section-switch .color-listed .red {
  border: 2px solid #A03123;
}

.switcherWrap .section-switch .color-listed .red a {
  background: #A03123;
  display: block;
  text-indent: -99999px;
}

.switcherWrap .section-switch .color-listed .theme-active {
  border: 2px solid #fff;
}

.switcherWrap .tab-content {
  margin-top: 15px;
  color: #000;
}

.switcherWrap .nav-tabs {
  border-bottom: 1px solid #fafafa;
}

.switcherWrap .nav-tabs>li.active>a,
.switcherWrap .nav-tabs>li.active>a:hover,
.switcherWrap .nav-tabs>li.active>a:focus {
  border: #d8d8d8;
  background: #005fc0;
  color: #fff;
}

.switcherWrap .nav-tabs>li a {
  color: #000;
  border: #d8d8d8;
}

.switcherWrap .nav-tabs>li a:hover {
  background: transparent;
  border: #d8d8d8;
}

.switcherWrap h4 {
  font-size: 15px;
  background: #f1f1f1;
  border-bottom: 1px solid #fafafa;
  color: #000;
  line-height: 35px;
  padding: 5px 0 5px 10px;
  margin: 0;
  color: #fff;
  background: #000;
}

.switcherWrap h4 a {
  background-color: #006cd9;
  border-radius: 0 6px 6px 0;
  color: #FFFFFF;
  display: block;
  font-size: 25px;
  height: 46px;
  line-height: 46px;
  position: absolute;
  right: -45px;
  text-align: center;
  text-decoration: none;
  top: 0;
  width: 45px;
}

#scrollbkToTop {
  bottom: 84px;
  display: block;
  position: fixed;
  right: 50px;
  width: 40px;
  z-index: 99999;
}

#scrollbkToTop a {
  color: #006cd9;
  display: block;
  font-size: 40px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  width: 50px;
}

#scrollbkToTop span {
  display: block;
  height: 30px;
  margin-bottom: 7px;
  -webkit-transition: all 1s ease 0s;
  transition: all 1s ease 0s;
  width: 50px;
}

#scrollbkToTop a:hover,
#scrollbkToTop a:focus,
#scrollbkToTop a:active {
  color: #0053a6;
}

#preloader {
  background-color: #000;
  bottom: 0;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 999999;
  overflow: hidden;
}

#preloader .spinner {
  width: 100px;
  height: 100px;
  background-color: #f1f1f1;
  position: absolute;
  border-radius: 100%;
  -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
  animation: sk-scaleout 1.0s infinite ease-in-out;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
}

@-webkit-keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    opacity: 0;
  }
}

@keyframes sk-scaleout {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

/*Faq Pages css here
--------------------- */
.st-faq-wrapper {
  position: relative;
  padding: 50px 0;
}

.st-faq-wrapper .faq-content {
  margin-top: 20px;
}

.st-faq-wrapper .panel-default {
  box-shadow: none;
  border: none;
}

.st-faq-wrapper .panel-default .panel-heading {
  /*background-color: transparent;*/
  padding: 15px 15px;
  border-bottom: none;
}

.st-faq-wrapper .panel-default .panel-heading h4 {
  line-height: 24px;
}

.st-faq-wrapper .panel-default .panel-heading a {
  display: block;
  position: relative;
}

.st-faq-wrapper .panel-default .panel-heading a:after {
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  content: "\f147";
  right: -15px;
  z-index: 999;
  top: 0;
  font-family: fontawesome;
}

.st-faq-wrapper .panel-default .panel-heading a.collapsed:after {
  position: absolute;
  width: 30px;
  height: 30px;
  display: block;
  content: "\f196";
  right: -15px;
  z-index: 999;
  top: 0;
  font-family: fontawesome;
}

/*
15 Footer css here
--------------------*/
.footer-wrap-top {
  position: relative;
  overflow: hidden;
  background: #333333 url(../images/spacial-bg.jpg);
  min-height: 350px;
  width: 100%;
  color: #696a6b;
  padding: 25px 0;
}

.footer-wrap-top .hc-overlay {
  background: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  /*z-index: 1;*/
  background-size: cover;
  text-indent: -9999px;
}

.footer-wrap-top a {
  color: #fff;
  text-decoration: underline;
}

.footer-wrap-top .footer-block.tags a.tag {
  background: #0053a6;
  color: #fff;
  float: left;
  margin: 5px;
  padding: 5px 13px;
  text-decoration: none;
  font-size: 12px;
}

.footer-heading {
  position: relative;
  margin: 25px 0;
}

.footer-heading h3 {
  font-weight: normal;
  color: #fff;
}

.footer-heading h3.footer-logo {
  font-weight: 100;
}

.footer-heading h3.footer-logo span {
  font-weight: bold;
  color: #006cd9;
}

/*Subscribe*/
.subscribe-form .form-group {
  margin: 20px 0 30px;
}

.subscribe-form .form-group .form-control {
  border-radius: 0px;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  position: relative;
  background: #1a1a1a;
  border-color: #363738;
}

.insta-wrap {
  position: relative;
  max-width: 280px;
  width: 100%;
}

.insta-wrap .insta-img {
  width: 33.33%;
  float: left;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  position: relative;
  padding: 5px;
}

.insta-wrap .insta-img img {
  max-width: 100%;
}

.footer-bottom {
  width: 100%;
  display: block;
  padding: 20px 0 10px;
  text-align: center;
  overflow: hidden;
  /*background: lighten($theme-color, 55%);*/
}

.footer-bottom .copyright-text {
  color: #696a6b;
  font-size: 14px;
}

.footer-wrap-two {
  display: block;
  min-height: 250px;
  position: relative;
  background: #000;
  color: #fff;
  padding: 50px 0 25px;
  text-align: center;
}

.footer-wrap-two .address-wrap {
  text-align: center;
  margin: 45px 0 34px;
}

.footer-wrap-two .address-wrap h3 {
  font-weight: 100;
}

.footer-wrap-two .form-group .sub-btn {
  position: absolute;
  right: 0;
  color: #cfcdce;
  top: 8px;
  background: transparent;
  border: none;
}

.footer-wrap-two .form-group .form-control {
  background: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  border-radius: 0px;
  color: #cfcdce;
}

.footer-wrap-two .form-group .form-control:focus {
  box-shadow: none;
}

.footer-wrap-two .social-connect {
  display: inline-block;
}

.footer-wrap-two .social-connect li {
  display: inline-block;
  list-style: none;
  margin: 5px;
}

.footer-wrap-two .social-connect li a {
  color: #fff;
  width: 30px;
  height: 30px;
  text-align: center;
  border: 1px solid #006cd9;
  display: table-cell;
  vertical-align: middle;
  transition: all 0.5s ease-in-out 0s;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  -ms-transition: all 0.5s ease-in-out 0s;
  -o-transition: all 0.5s ease-in-out 0s;
}

.footer-wrap-two .social-connect li a:hover {
  background: #006cd9;
}

.footer-wrap-two .copyright {
  color: #575757;
  margin: 20px 0 10px;
}

.footer-social {
  position: relative;
}

.footer-social .social-connect {
  margin: 0;
  padding: 0;
  margin-top: 30px;
}

.footer-social .social-connect li {
  display: inline-block;
  list-style: none;
  margin: 5px;
}

.footer-social .social-connect li a {
  padding: 4px;
  width: 30px;
  height: 30px;
  border: 2px solid #aaa;
  display: table-cell;
  text-align: center;
  -webkit-transition: all 0.6s ease-in-out 0s;
  transition: all 0.6s ease-in-out 0s;
  vertical-align: middle;
}

.footer-social .social-connect li a:hover {
  background: #006cd9;
  color: #fff;
  border-color: #006cd9;
}

.footer-social .social-connect li.active a {
  background: #006cd9;
  color: #fff;
  border-color: #006cd9;
}

.footer-testi h5 {
  color: #fff;
}

.footer-testi .item strong {
  color: #fff;
  margin-left: 10px;
}

.footer-testi .item span {
  font-weight: 100;
}

.hospital-timing-footer {
  background: #fff;
  padding: 20px;
  color: #000;
}

.hospital-timing-footer ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.hospital-timing-footer ul li {
  line-height: 35px;
  font-weight: 100;
}

.hospital-timing-footer ul li .left-day,
.hospital-timing-footer ul li right-time {
  display: inline-block;
}

.hospital-timing-footer ul li .left-day {
  min-width: 100px;
}

.footer-links ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-links ul li {
  line-height: 40px;
  font-weight: 100;
  position: relative;
  padding-left: 25px;
}

.footer-links ul li:after {
  position: absolute;
  content: "\f101";
  font-family: fontawesome;
  left: 0;
}

.footer-links ul a {
  text-decoration: none;
}

.footer-news ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.footer-news ul li {
  line-height: 35px;
  position: relative;
  clear: both;
  display: block;
  padding-bottom: 20px;
  overflow: hidden;
}

.footer-news ul li .left-image {
  width: 70px;
  height: 70px;
  float: left;
}

.footer-news ul li .content-news {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  width: calc(100% - 70px);
  padding-left: 15px;
  float: left;
}

.footer-news ul li .content-news a {
  text-decoration: none;
}

.footer-news ul li .content-news h5 {
  line-height: 25px;
}

.footer-news ul li .content-news p {
  font-size: 12px;
  font-weight: 100;
}

.footer-news ul li .content-news p span {
  display: inline-block;
  margin-right: 5px;
}

/*Breakpoint media query start here*/
@media (max-width: 991px) {
  .banner-section-wrap {
    min-height: 470px;
    padding: 30px 0;
  }

  .header-top .desktop-right {
    float: none;
  }

  h2 {
    font-size: 25px;
  }

  h3 {
    font-size: 22px;
  }

  .speciality-tab .spec-tab-content .spec-tabs li a {
    font-size: 14px;
  }

  /*Home ent*/
  .home-banner-ent {
    position: relative;
  }

  .home-banner-ent .sp-row-padding:hover [class*="col-"] {
    width: 33.33%;
  }

  .home-banner-ent .sp-row-padding [class*="col-"] {
    min-height: 45vh;
    position: relative;
    color: #fff;
  }

  .home-banner-ent .sp-row-padding [class*="col-"]:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.6s ease-in-out 0s;
    -webkit-transition: all 0.6s ease-in-out 0s;
    -moz-transition: all 0.6s ease-in-out 0s;
    -ms-transition: all 0.6s ease-in-out 0s;
    -o-transition: all 0.6s ease-in-out 0s;
    z-index: 0;
  }

  .home-banner-ent .sp-row-padding [class*="col-"]:hover {
    width: 33.33%;
  }

  .home-banner-ent .sp-row-padding [class*="col-"]:hover:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    transition: all 0.6s ease-in-out 0s;
    -webkit-transition: all 0.6s ease-in-out 0s;
    -moz-transition: all 0.6s ease-in-out 0s;
    -ms-transition: all 0.6s ease-in-out 0s;
    -o-transition: all 0.6s ease-in-out 0s;
    z-index: 0;
  }

  .home-banner-ent .sp-row-padding [class*="col-"].ear {
    background-image: url(../images/ear.png);
    background-size: cover;
    background-position: 50% 50%;
  }

  .home-banner-ent .sp-row-padding [class*="col-"].nose {
    background-image: url(../images/nose.jpg);
    background-size: cover;
    background-position: 50% 50%;
  }

  .home-banner-ent .sp-row-padding [class*="col-"].throat {
    background-image: url(../images/throat.jpg);
    background-size: cover;
    background-position: 50% 50%;
  }

  .home-banner-ent .sp-row-padding .content-ent {
    display: block;
    margin-top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 9999;
    text-align: center;
    max-width: 500px;
    width: 100%;
    padding: 0 50px;
    text-align: left;
  }

  .coming-soon-body {
    display: block;
    overflow: hidden;
    position: relative;
    z-index: 111;
  }

  .coming-soon-body .coming-soon-content-wrap {
    position: relative;
    text-align: center;
  }

  .coming-soon-body .coming-soon-content-wrap .left-img {
    width: 260px;
    height: 360px;
    display: inline-block;
    clear: both;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    -ms-box-sizing: border-box;
    padding-right: 20px;
    float: none;
  }

  .coming-soon-body .coming-soon-content-wrap .left-img img {
    max-width: 100%;
  }

  .coming-soon-body .coming-soon-content-wrap .right-content {
    width: calc(100% - 0);
    width: 100%;
    clear: both;
    float: none;
    padding: 15px;
    margin-bottom: 25px;
  }

  .coming-soon-body .coming-soon-content-wrap .right-content h2 {
    font-size: 40px;
  }

  .coming-soon-body .coming-soon-content-wrap .right-content .logo h1 {
    font-weight: 100;
    font-size: 30px;
  }

  .coming-soon-body .coming-soon-content-wrap .right-content .logo h1 span {
    color: #006cd9;
    font-weight: bold;
  }

  .defaultCountdown {
    display: inline-block;
  }

  .defaultCountdown .countdown-section .countdown-amount {
    margin-right: 5px;
  }
}

@media (max-width: 768px) {
  .appointment-wrap .appointment-form .form-row .one-half {
    width: 100%;
    clear: both;
  }

  h2 {
    font-size: 22px;
  }

  h3 {
    font-size: 21px;
  }

  p {
    font-size: 13px;
  }

  /*Ent section */
  .individual-thought .thought-quote {
    font-size: 18px;
  }

  .blog-body-content .medical-blog-block .blog-heading h2 {
    font-size: 16px;
  }

  .heading-wrap span.top-tag {
    font-size: 18px;
  }

  .menu-logo-wrap .logo h1 {
    font-size: 30px;
  }

  .inner-about-wrap .about-content .text-wrap h3 {
    font-size: 25px;
  }

  .call-to-action-two .cta-right-info .phone-no {
    font-size: 25px;
  }

  /*Home ent*/
  .home-banner-ent {
    position: relative;
    display: block;
    background: #000;
    display: block;
    background-size: cover;
  }

  .home-banner-ent .sp-row-padding:hover [class*="col-"] {
    width: auto;
  }

  .home-banner-ent .sp-row-padding [class*="col-"] {
    padding-left: auto;
    padding-right: auto;
    min-height: 30vh;
    position: relative;
    transition: all 0.6s ease-in-out 0s;
    -webkit-transition: all 0.6s ease-in-out 0s;
    -moz-transition: all 0.6s ease-in-out 0s;
    -ms-transition: all 0.6s ease-in-out 0s;
    -o-transition: all 0.6s ease-in-out 0s;
    color: #fff;
  }

  .home-banner-ent .sp-row-padding [class*="col-"]:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.5s ease-in-out 0s;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -moz-transition: all 0.5s ease-in-out 0s;
    -ms-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    z-index: 0;
  }

  .home-banner-ent .sp-row-padding [class*="col-"]:hover {
    width: auto;
  }

  .home-banner-ent .sp-row-padding [class*="col-"]:hover:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 0;
  }

  .home-banner-ent .sp-row-padding [class*="col-"].ear {
    overflow: hidden;
  }

  .home-banner-ent .sp-row-padding [class*="col-"].nose {
    overflow: hidden;
  }

  .home-banner-ent .sp-row-padding [class*="col-"].throat {
    overflow: hidden;
  }

  .home-banner-ent .sp-row-padding .content-ent {
    display: block;
    margin-top: 20%;
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
    margin-bottom: 50px;
    overflow: hidden;
  }

  .home-banner-eye {
    position: relative;
  }

  .home-banner-eye .banner-eye-content {
    color: #fff;
    margin-top: 20%;
    -webkit-transform: translateY(-20%);
    transform: translateY(-20%);
  }

  .counter-wrap {
    position: relative;
  }

  .counter-wrap .counter-single {
    color: #fff;
    padding: 40px 0;
  }

  .counter-wrap .counter-single span {
    display: inline-block;
    width: 100%;
  }

  .counter-wrap .counter-single .counter {
    font-size: 22px;
    font-weight: 600;
    margin: 25px 0 15px;
  }

  .counter-wrap .counter-single .counter-text {
    margin: 10 0;
    font-size: 15px;
    font-weight: 300;
  }

  /*app responsive*/
  .menu-app-wrap.fixed-header .health-app-nav {
    min-height: 10px;
  }

  .menu-app-wrap .health-app-nav {
    background: transparent;
    border: none;
  }

  .menu-app-wrap .health-app-nav .navbar-collapse {
    border-top: 1px solid transparent;
    margin-top: 15px;
    background: #000;
  }

  .menu-app-wrap .health-app-nav .navbar-toggle {
    position: absolute;
    top: -25px;
    right: -10px;
    border: none;
    margin: 0;
  }

  .menu-app-wrap .health-app-nav .navbar-toggle:hover {
    background-color: transparent;
  }

  .menu-app-wrap .health-app-nav .navbar-toggle:focus {
    background-color: transparent;
  }

  .menu-app-wrap .health-app-nav .navbar-toggle:active {
    background-color: transparent;
  }

  .menu-app-wrap .health-app-nav .navbar-toggle span {
    background-color: #fff;
  }

  .app-feature-wrap .feature-right-icon li .feature-cont {
    float: right;
    text-align: left;
    padding-left: 20px;
  }

  .app-feature-wrap .feature-right-icon li .feature-icon {
    float: left;
    text-align: center;
  }
}

@media (max-width: 767px) {
  .call-to-action-two:after {
    background: none;
  }

  .menu-logo-wrap .health-main-nav {
    margin-top: 0;
    margin-bottom: 15px;
    min-height: 1px;
  }

  .menu-logo-wrap .health-main-nav ul#menu .dropdown {
    position: relative;
  }

  .menu-logo-wrap .health-main-nav ul#menu .dropdown:after {
    content: "";
    position: absolute;
    right: 10px;
    top: 25px;
    width: 0;
    height: 0;
    border-top: 5px solid #0d85ff;
    border-right: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid transparent;
  }
}

@media (max-width: 640px) {
  .header-top .header-top-link li a {
    font-size: 12px;
  }

  .sidebar-wrap .news-tab-block .recent-news li .right-news-content h4 {
    font-size: 14px;
  }

  .coming-soon-body .coming-soon-content-wrap .right-content h2 {
    font-size: 35px;
    margin-top: 15px;
  }

  .banner-section-wrap .hc-banner button {
    font-size: 12px;
  }

  .home-banner-eye {
    min-height: 450px;
  }

  .home-banner-eye .banner-eye-content {
    margin-top: 28%;
    overflow: hidden;
  }

  .header-top .header-top-link li {
    border-left: none;
    display: inline-block;
    clear: both;
    text-align: left;
    margin-bottom: 15px;
  }

  .header-top .header-top-link ul.emr-dropdown li .emr-department {
    display: block;
    clear: both;
  }

  .speciality-tab {
    margin: -280px 15px 0 15px;
  }

  .speciality-tab .spec-tab-content .spec-tabs li a {
    font-size: 12px;
    padding: 10px 8px;
    margin-bottom: 12px;
  }
}

@media (max-width: 480px) {
  .getin-touch .appoitment-wrap li a {
    font-size: 12px;
    padding: 10px 6px;
  }

  .speciality-tab .spec-tab-content .spec-tabs li a {
    font-size: 10px;
    padding: 10px 8px;
    margin-bottom: 12px;
  }
}

/**
 * Allows you to use retina images at various pixel densities.
 * Examples:
 *
 *   @include retina(/images/mypic.jpg, 2);
 *   @include retina(/images/mypic.jpg, 3, 100px 100px, left top no-repeat transparent);
 *
 * @param  {Value}  $path               The path to the file name minus extension.
 * @param  {Number} $cap:    2          The highest pixel density level images exist for.
 * @param  {Value}  $size:   auto auto  The intended width of the rendered image.
 * @param  {Value}  $extras: null       Any other `background` values to be added.
 */